body {
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.hero-section {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 0 20% 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 50px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.list {
  display: flex;
  gap: 12px;
}
.logo {
  color: #f9faf8;
  font-size: 24px;
}

.hero-content {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.awesome {
  font-size: 48px;
  font-weight: 800;
  width: 400px;
  color: #f9faf8;
  margin: 0;
}

.hero-img {
  background-image: url(images/pexels-pixabay-147411.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 250px;
  flex-shrink: 0;
}
.hero-text {
  color: #e5e7eb;
}

.subtext {
  flex: 1 1 auto;
  width: 400px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  padding: 4px 20px;
  color: white;
  border-radius: 5px;
  border: #3882f6;
}

.box {
  display: flex;
  border: 5px solid #3882f6;
  border-radius: 15px;
  width: 150px;
  height: 150px;
}

.information,
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.items {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.info-text {
  width: 150px;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 50px 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}
.quote-container {
  width: 810px;
  display: flex;
  flex-direction: column;
}
.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 0;
}
.author {
  font-size: 24px;
  font-weight: 700;
  align-self: flex-end;
  margin: 0;
}
